@import './styles/palette'
@import './styles/mixins'
@import './styles/variables'


.pmg-button.button
  display inline-block
  button-bg()
  border none
  color white
  padding-left $pmg-h-padding
  padding-right $pmg-h-padding
  padding-top $pmg-v-padding
  padding-bottom $pmg-v-padding
  line-height 25px
  border-radius 25px

ul {
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0
}

select
  text-indent 8px
  appearance none
  width 80px
  font-size 17px
  background transparent
  border none
  border-radius 0
  color white
  border-bottom 3px solid white
  cursor pointer

input
  border none
  line-height 22px
