$blue = #0ee
$green = #00d680
$light-grey = #ccc
$text-blue = #325caf
$text-grey = #777
$text-dark-green = #44696c
$color-mystic = #006af6
$color-instinct = #ffd600
$color-valor = #ff0000
$hover-background-color = rgba(200, 200, 200, 0.8)
